.qrcode {
    line-height: 0;
}

.qrcode_image {
    margin-bottom: 5px;
    display: inline-block;
}

.qrcode_text {
    font-size: 14px;
    font-weight: normal;
    color: #aaa;
    line-height: 1.5;
    max-width: 400px;
    align-content: center;
}
